*.EXE
*.exe

ext/*.DLL
ext/*.dll

*.BAK
*.bak

_release

__history
__recovery
*.dcu
*.local
*.identcache

ext/__history
ext/__recovery
ext/*.dcu
ext/*.local
ext/*.identcache

ForestUser.ini
ForestOnce.ini
